<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantGo</title>
    <link rel="icon" href="images/logo.png">

    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Oxygen" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel= 'stylesheet' href= 'css/style.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css'>
    <!-- Compiled and minified JavaScript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js'></script>
    <meta name='viewport' content='initial-scale=1.0, user-scalable=no'>
    <meta charset='utf-8'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyD2MkC1sfePDl__0dvHQudZL2r42EmP9Dk",
        authDomain: "food-project-ebea1.firebaseapp.com",
        databaseURL: "https://food-project-ebea1.firebaseio.com",
        projectId: "food-project-ebea1",
        storageBucket: "food-project-ebea1.appspot.com",
        messagingSenderId: "373070343577"
      };
      firebase.initializeApp(config);
    </script>
             
  </head>
<body style = "background-image: url(images/food-background-ppt-6.jpg); background-repeat: no-repeat; background-size: cover; min-height: 100vh"></body>
      
    <ul id="slide-out" class="side-nav" style= "background-color: teal">
      <li><div class="user-view">
        <div class="background" color = "#FF6600">
        </div>
        <div class = "ourInfo">
          <center><a  href="/"><img id ="logo" src="images/logo.png"></a>
          <!--<p><font size = "5" id= "logoname">RestaurantGO</font></p>-->
          </center>
        </div>
        <div class = "userInfo">
          <center><a  href="#!user"><img id ="google-small-pic" class="circle"  src="images/blank-profile-picture.png"></a>
          </center>
          
          <a href="#!name"><span class="white-text name"></span></a>
          <a href="#!email"><span class="white-text email"></span></a>
        </div>
      </div></li>
      <li class = "btn deep-orange lighten-1" id= "login-button" onclick = {signInWithGoogle()}><a href="#!"></a></li>
      <li id= "calculate-button" onclick = {}><a href="/about" >About Us</a></li>
      <li id= "sharelocationbutton" onclick = {} style = "display:none; visibility:hidden"><a href="#!"  >Share Your Location</a></li>
      <li id= "calculate-button" onclick = {}><a href="/calculate" >Calculate Cost of Shared Meal</a></li>
      <li id= "calculate-button" onclick = {}><a href="/profile" >See your profile</a></li>
      <!--<li id= "login-button" onclick = {signInWithGoogle()}><a href="#!"><i class="material-icons">cloud</i>L</a></li>-->
      <!--<li><a href="#!">Second Link</a></li>-->
      <li><div class="divider"></div></li>
    </ul>
    
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="medium material-icons icon-black">menu</i></a>
    <script>
       // Initialize collapse button
      $(".button-collapse").sideNav();
      // Initialize collapsible (uncomment the line below if you use the dropdown variation)
      //$('.collapsible').collapsible();
    </script>
    
   
    
    
    
   


    
   <script src="https://chatwee-api.com/v2/script/59808d9dbd616d930f60d922.js"></script>
    <center>
        <h1 style = "color: #FFFFFF;margin-top: 100px">RestaurantGo</h1>
        <h5 style = "color: #FFFFFF;margin-top: 20px">Our mission:</h5>
        </center>
        <p style = "color: #FFFFFF; margin-top: 20px; margin-right:400px;margin-left:400px">We believe that food is an important part of people's daily lives, and meals are even better with someone to share them with. That's why we let users view restaurants or cafes nearby and search up users in the vicinity to turn a lonely breakfast, lunch, or dinner into a meaningful experience.</h5>
        </p></center>
         <h5 style = "color: #FFFFFF;margin-top: 20px; margin-right:400px; margin-left:740px">Who we are:</h5>
        
        <center><p style = "color: #FFFFFF; margin-top: 20px; margin-right:400px;margin-left:400px">We are two high schoolers who want to make finding restaurants and friends easier and more efficient. We hope our app helps users save money, get great food so that their meals wind up better than they would be, and make new friends or meet up with old ones. </h5>
        </p></center>
        <center>
            <div id = "us">
                <img id = "debby" src = "images/smaller pic of me.png" height = "200px" width = "200px" alt = "Debjani Das">
                
                <img id = "cindy" src = "images/IMG_2916.jpg" height = "200px" width = "200px" alt = "Cindy Hernandez">
            
            </div>
            
        </center>
        <!--<h5 style = "color: #FFFFFF;margin-top: 20px">Our mission:</h5>-->
         <script src="js/about.js"></script>
         <div id = "chatwee-root"></div>
         <script src="https://chatwee-api.com/v2/script/59869554bd616d143b60d902.js"></script>
         
        <script src = "js/firebaseAuth.js"></script>
        <script src = "js/firebaseDatabase.js"></script>
         

 </body>

</html>