<!DOCTYPE html>
<html>
<head>
    <script src="https://chatwee-api.com/v2/script/59869554bd616d143b60d902.js"></script>
    <title>Info Wise App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="https://www.gstatic.com/firebasejs/4.1.5/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDbWEVudTylVrB4vKAzY72Vn0uYd_njriY",
            authDomain: "info-wise.firebaseapp.com",
            databaseURL: "https://info-wise.firebaseio.com",
            projectId: "info-wise",
            storageBucket: "info-wise.appspot.com",
            messagingSenderId: "441500702588"
        }
        firebase.initializeApp(config);
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Compiled and minified CSS -->
    <link rel="stylesheet" href="css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .w3-sidebar a {
            font-family: "Roboto", sans-serif
        }

        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .w3-wide {
            font-family: "Montserrat", sans-serif;
        }
        
    </style>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>    
</head>

<body style = "background-image: url(images/skyline.jpg); background-repeat: no-repeat; background-size: cover; min-height: 100vh" id="wholeThang" style = "padding-left: 250px">
    <!--<body  style="max-width:1200px">-->
    <!--<img  id = "google-small-pic" class="circle" src="images/blank-profile-picture.jpg">-->
    <!--<img  id = "google-pic" class="circle" src="images/blank-profile-picture.jpg">-->
    
        <!-- Sidebar/menu -->
        <center>
        <h1 style = "color: #FFFFFF;margin-top: 100px"><b>smart</b>fam</h1>
        <h5 style = "color: #FFFFFF;margin-top: 20px">Our mission:</h5>
        </center>
        <b><p style = "color: #FFFFFF; margin-top: 20px; margin-right:70px;margin-left:70px">SmartFam is an app that makes finding extracurricular programs easier and faster. We give our users access to an organized database of outside-of-school activities with opinions given by parents.</h5>
        </p></b>
        
         <script src="js/about.js"></script>
</body>

</html>