<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='initial-scale=1.0, user-scalable=no'>
        <title>RestaurantGo || Find Food and Friends</title>
        <link rel="icon" href="images/logo.png">
        
        <!--Bootstrap CDN-->
        <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js'></script>
       
        <link rel = "stylesheet" href = "css/testhome.css">
        
        <style>
          #map {
            height: 100%;
          }
          /* Optional: Makes the sample page fill the window. */
          html, body {
            height: 90%;
            margin: 200;
            padding: 10;
          }
        </style>
    
        <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyD2MkC1sfePDl__0dvHQudZL2r42EmP9Dk",
            authDomain: "food-project-ebea1.firebaseapp.com",
            databaseURL: "https://food-project-ebea1.firebaseio.com",
            projectId: "food-project-ebea1",
            storageBucket: "food-project-ebea1.appspot.com",
            messagingSenderId: "373070343577"
          };
          firebase.initializeApp(config);
        </script>
    </head>
    <body>
        <!--<header>-->
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#"><img src = "images/logo.png" height = "70px"></a>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
    
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" id = "location2">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="button" id = "searchButton">Search</button>
                </form>
              </div>
            </nav>
        <!--</header>-->
        <!--<main>-->
            <script>
                var pos
                var map, infoWindow;
               
               
                function initMap() {
                  map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: -34.397, lng: 150.644},
                    zoom: 15
                  });
                  //infoWindow = new google.maps.InfoWindow;
                  
                  // Try HTML5 geolocation.
                  if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                      pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                      };
                      
                      var contentString = 'You';
                    
                      var infowindow = new google.maps.InfoWindow({
                        content: contentString
                      });

                      var marker = new google.maps.Marker({
                        position: pos,
                        title: 'you',
                        map: map
                       
                      });
                      marker.addListener('click', function() {
                        infowindow.open(map, marker);
                      });
                      infowindow.open(map,marker);
                      
                       
                    //  document.getElementById('sharelocationbutton').onclick = function(){
                    //   shareLocation(pos.lat, pos.lng) 
                    //  }
                     
                      
                    
                      
                      map.setCenter(pos);
                      marker.setMap(map);
                      
         
                      
                     document.getElementById('searchButton').onclick = function() {getStoreLocation()}
                     
         
                    }, function() {
                      handleLocationError(true, infoWindow, map.getCenter());
                    });
                    
                  } else {
                    // Browser doesn’t support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                  }
                  
                  
                }
         
               function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                  infoWindow.setPosition(pos);
                  infoWindow.setContent(browserHasGeolocation ?
                                        'Error: The Geolocation service failed.' :
                                        'Error: Your browser doesn\‘t support geolocation.');
                  infoWindow.open(map);
                }
                
              function getStoreLocation(){
                      var input = document.getElementById('location2').value
                      console.log(input)
                      var apiKey = 'AIzaSyDUWTdknyhqy6iOYA4y8zbR6FJN_tamIaA'
                      var url = `https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=${pos.lat},${pos.lng}&radius=500&keyword=${input}&key=${apiKey}`              
                    
                      fetch(url)
                      .then(function(data){
                        return data.json()
                    //to actually get the data and not the promise, write above and below
                      })
                      .then(function(json){
                        console.log(json)
                        var locationArray = json.results
                        console.log(locationArray)
                        for (i=0; i< locationArray.length; i++) {
                          var latitudeOfInput_i = json.results[i].geometry.location.lat
                          var longitudeOfInput_i = json.results[i].geometry.location.lng
                          var pos_i = {
                            lat: latitudeOfInput_i,
                            lng: longitudeOfInput_i
                          };
                          var marker_i = new google.maps.Marker({
                            position: pos_i,
                            map: map
                          });
                        }
                      })
              }
        
           </script>
           
           <div id = "chatwee-root"></div>


            <script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBE_eM_zuZbK1AL_3_yBApX-o9bZClXmKc&callback=initMap'></script>
        <!--</main>-->
        
        <!--<script src = "js/firebaseAuth.js"></script>-->
        <!--<script src = "js/firebaseDatabase.js"></script>-->
        

        
        <script src="https://chatwee-api.com/v2/script/59808d9dbd616d930f60d922.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </body>
    
</html>